<html>

  <head>
    <title> Tom's Portfolio </title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div>
      I am <%= person.firstName %> <%= person.lastName %>
    </div>
  </body>

</html>