<html>

  <head>
    <title>Tom Thanks You</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div>
      Thank you <%= contact.firstName %> <%= contact.lastName %>.
    </div>
  </body>

</html>